* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ================common============ */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn{
    padding: 0 41px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover{
    opacity: 0.85;
}

.heading-lv2{
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.top-title{
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700; 
}
/* ===========header============ */
.header {
  background: #fff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .body {
  padding-top: 57px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.header .nav{
    margin-left: 235px;
    padding: 8px 0;
}
.header .nav ul {
  display: flex;
  gap: 39px;
}

.header .nav a {
  color: #2f3a3b;
  font-size: 1.6rem;
}

.header .nav a:hover {
  text-shadow: 0.8px 0px;
}

.header .action{
    margin-left: auto;
}
.header .action-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 48px;
  color: #494949;
  font-size: 1.6rem;
}

.header .action-link:hover {
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 600;
}

/* ===================Hero================= */
.hero{
    padding: 42px 0 79px;
}
.hero .body{
    display: flex;
}

/* hero left */
.hero .content-block{
    width: 50%;
}
.hero .top-title{
    margin-top: 93px;
    color: #767E7E;
    font-size: 1.4rem;
}
 .hero .title{
    max-width: 458px;
    margin-top: 18px;
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
 }

 .hero .desc{
    max-width: 374px;
    margin-top: 46px;
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
 }

 .hero .desc span{
    display: inline-block;
 }

.hero .cta-group{
    margin-top: 52px;
    display: flex;
    gap: 50px;
}
 .hero .cta-group a{
    display: inline-block;
 }

 .hero .play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 62px;
    background: #FFF;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
 .hero .play:hover{
    background: #eee;
    box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
    color: #fff;
    transition: 0.5s;
 }

/* hero right */
.hero .media-block{
    width: 50%;
    position: relative;
}

.hero .media{
    width: 576px;
    height: 631px;
    object-fit: cover;
    object-position: 50% 25%;
}

.hero .course{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .course::after{
    position: absolute;
    top: 45px;
    left: 29px;
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 999px;
}
.hero .course-icon{
    width: 36px;
    height: 40px;
}
.hero .course .detail{
    width: 55px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .schedule{
    position: absolute;
    top: 453px;
    left: -65px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .schedule span{
    display: inline-block;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin: 16px 35px 0;
}

.hero .schedules-icon{
    margin: 16px 25px 0;
}

.hero .icon2{
    margin-top: 12px;
}

.hero .icon3{
    margin-top: 10px;
}

.hero .icon4{
    margin: 16px 49px auto;
}

.member{
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.member .mem-title{
    display: inline-block;
    margin: 17px 72px 8px 35px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.member .ava-list{
    display: flex;
}
.hero .ava{
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: -7px;
}

.hero .ava:first-child{
    margin-left: 35px;
}

.hero .avamore{
    display:flex;
    align-items: center;
    justify-content: center;

    background: var(--primary-color);
}
.hero .avamore span{
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

/* =================Features============= */

.features{
    padding: 130px 0 65px;
}

.features .heading-lv2{
    max-width: 577px; 
    margin-top: 18px;      
}

.features .desc{
    margin-top: 18px;
    max-width: 590px;
    color: #767E7E;
    font-size: 18px;
    line-height: normal;
}

.features .feature-list{
    margin-top: 80px;
    display: flex;
}

.feature-list .item2{
    margin-left: 209px;
}

.feature-list .item3{
    margin-left: 200px;
}

.feature-item img:hover{
    opacity: 0.9;
}

.features .item-title{
    margin-top: 26px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features .item-title:hover{
    text-decoration: underline 2.5px;
}

.features .item-desc{
    color: #9DA6A5;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.69; /* 168.75% */
}

.features .item1{
    width: 14.36%;
}
.features .item2{
    width: 19.06%;
}
.features .item3{
    width: 19.15%;
}
/* .feature-list .item1 .item-desc{
    max-width: 168px;
}
.feature-list .item2 .item-desc{
    max-width: 223px;
}

.feature-list .item3 .item-desc{
    max-width: 224px;
} */

/* ===============Course============= */
.popular{
    padding-top: 65px;
    padding-bottom: 15px;
}

.popular .heading-lv2{
    margin-top: 18px;
}

.popular .row-top{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .row-top .desc{
    max-width: 525px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.popular .row-top .all-course{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular .row-top .all-course:hover{
    text-decoration: underline 2px;
    opacity: 0.9;
}

.popular .course-list{
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
}

.popular .course-item{
    position: relative;
}
.popular .course-item img{
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    background: #fff;
}

.popular .course-info{
    position: absolute;
    bottom: -124px;
    left: 17px;
    width: 325px;
    height: 195px;
    padding: 18px 25px 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-info .item-title{
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;  
}

.popular .course-info .price{
    margin-top: 16px;
    color: #767E7E;
    font-size: 1.6rem; 
}

.popular .course-info strong{
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .course-info .item-desc{
    margin-top: 6px;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

.popular .static{
    margin-top: 18px;
    margin-left: -10px;
}

.popular .static span{
    color: #9DA6A5;
    font-size: 1.4rem;
}

.popular .static span::before{
    display: inline-block;
    margin: 0 10px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--primary-color);
}